@each $color in var(--color-array) {
  .button {
    &.$(color) {
      &:hover:enabled {
        background-color: var(--color-$(color)-hover);
      }

      &:disabled {
        --rgb: var(--color-$(color)-rgb);
        background-color: rgba(var(--rgb), 0.2);

        .button-text {
          --text-rgb: var(--color-text-rgb);
          color: rgba(var(--text-rgb), 0.2);
        }
      }
    }

    &.button-outline {
      &.$(color) {
        background-color: theme(colors.transparent);

        &:hover:enabled {
          color: var(--color-text);
          background-color: var(--color-$(color));
        }

        &:disabled {
          --rgb: var(--color-$(color)-rgb);
          border-color: rgba(var(--rgb), 0.2);

          .button-text {
            color: rgba(var(--rgb), 0.2);
          }
        }
      }
    }
  }
}
