.Loading .Loading-img {
  animation: Loading 0.25s infinite;

  @keyframes Loading {
    0%,
    100% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(5%, -5%);
    }
    50% {
      transform: translate(-5%, -5%);
    }
    75% {
      transform: translate(-5%, 5%);
    }
  }
}
