@tailwind components;

.scrollbar {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar-hover);
  }
  ::-webkit-scrollbar-thumb:active {
    background: var(--color-scrollbar-active);
  }
}

.mask {
  @apply opacity-70;
  background-color: var(--color-mask);
}
