@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: theme(colors.purple.500);
    --color-secondary: theme(colors.yellow.500);
    --color-success: theme(colors.green.600);
    --color-error: theme(colors.red.600);
    --color-info: theme(colors.sky.600);
    --color-warning: theme(colors.orange.600);
    --color-basic: theme(colors.neutral.800);
    --color-basic-bg: theme(colors.neutral.100);
    --color-header-bg: theme(colors.white);
    --color-border: theme(colors.neutral.300);
  }

  html.dark {
    color-scheme: dark;
    --color-primary: theme(colors.purple.500);
    --color-secondary: theme(colors.yellow.400);
    --color-success: theme(colors.green.400);
    --color-error: theme(colors.red.500);
    --color-info: theme(colors.sky.400);
    --color-warning: theme(colors.orange.400);
    --color-basic: theme(colors.neutral.200);
    --color-basic-bg: theme(colors.neutral.900);
    --color-header-bg: theme(colors.black);
    --color-border: theme(colors.neutral.700);
  }

  * {
    border-color: var(--color-border);
  }

  body {
    color: var(--color-basic);
    background-color: var(--color-basic-bg);
  }
}
