@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: theme(colors.purple.500);
    --color-secondary: theme(colors.yellow.500);
    --color-success: theme(colors.green.600);
    --color-error: theme(colors.red.600);
    --color-info: theme(colors.sky.600);
    --color-warning: theme(colors.orange.600);
    --color-basic: theme(colors.gray.800);
    --color-basic-bg: theme(colors.gray.50);
  }

  html.dark {
    --color-primary: theme(colors.purple.500);
    --color-secondary: theme(colors.yellow.400);
    --color-success: theme(colors.green.400);
    --color-error: theme(colors.red.500);
    --color-info: theme(colors.sky.400);
    --color-warning: theme(colors.orange.400);
    --color-basic: theme(colors.gray.200);
    --color-basic-bg: theme(colors.gray.950);
  }

  body {
    color: var(--color-basic);
    background-color: var(--color-basic-bg);
  }
}
